.container {
  max-width: 1280px;
  min-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    min-width: initial;
    max-width: 100%;
    padding: 0 55px;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 0 45px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    padding: 0 20px;
  }
}